@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 150;
	font-style: normal;
	font-variation-settings:
    "wdth" 100;
    margin: 0px;
    font-size: 18px;
}
h1, h2, h3 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
}

a {
	text-decoration: none;
}
