.banner{
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8), rgba(0,0,0,0.35) 50%), url(../../images/background.jpg);
	color: white;
	padding: 150px 0px;
	height: 450px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.banner h1{
	font-size: 50px;
	clor: white;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	color: white;
}